[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Guitar Tuner
Exec=/opt/guitartuner/bin/guitartuner
Icon=guitartuner
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
